{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="{{ .icon.width }}"
              height="{{ .icon.height }}"
              viewBox="{{ .icon.viewbox }}"
              fill="{{ .icon.fill }}"
              stroke="{{ .icon.stroke }}"
              stroke-width="{{ .icon.strokewidth }}"
              stroke-linecap="{{ .icon.strokelinecap }}"
              stroke-linejoin="{{ .icon.strokelinejoin }}"
            >
             {{ range .icon.paths }}
                <path {{ if .stroke }} stroke="{{ .stroke }}" {{ end }} d="{{ .d }}" {{ if .fill }}fill="{{ .fill }}"{{ end }}/>
             {{ end }}
             {{ range .icon.gradients }}
                <linearGradient id="{{ .id }}" {{ if .x1 }}x1="{{ .x1 }}"{{ end }} {{ if .y1 }}y1="{{ .y1 }}"{{ end }} {{ if .x2 }}x2="{{ .x2 }}"{{ end }} {{ if .y2 }}y2="{{ .y2 }}"{{ end }}>
                  {{ range .stops }}
                    <stop offset="{{ .offset }}" stop-color="{{ .color }}" {{ if .opacity }}stop-opacity="{{ .opacity }}"{{ end }}/>
                  {{ end }}
                </linearGradient>
             {{ end }}
             {{ range .icon.group }}
                {{ partial "svg_group" . }}
             {{ end }}
            </svg>
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}